<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container-new">
        <h3>Create New Post</h3>
        <form method="POST" action="/posts">
            <input type="text" placeholder="Enter username" name="username"><br><br>
            <textarea name="content" placeholder="Write your post"></textarea><br><br>
            <button>Submit Post</button>
        </form>
    </div>
</body>

</html>